*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 13px;
    margin: 0;
}
input,button{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 14px;
}
h1{
    margin: 0;
    padding: 2%;
}
img{
    max-width: 100%;
}
:focus{
    outline: none;
}
.wrapper{
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background:white;
    justify-content: center;
    align-items: center;
    margin: 10vh;
    display: flex;
    border-radius: 3px;
    padding: 1%;
}
.container form{
    width: 80%;
    padding-top: 36px;
    padding: 2%;
}
.container h1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 28px;
}
.form-element{
    position: relative;
}
.form-input{
    border: 1px solid #000;
    border: none;
    border-bottom: 1px solid #b89696;
    display: block;
    width: 100%;
    height: 30px;
    padding-right: 0;
    margin-top: 25px;
}
input[type=checkbox],label{
    margin-top: 25px;
    font-size: 2.7vh;
    padding: 0.6vh;
}
.error{
    color: red;
    font-style: italic;
}
button{
    border: none;
    width: 150px;
    height: 50px;
    margin: auto;
    margin-top: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    padding: 0;
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
    color: #fff;
    font-size: 15px;
    border-radius: 2px;
    transition: all 0.5s ease;
}
button:hover{
    background: linear-gradient(180.2deg, rgb(74,98,110) 6.8%, rgb(30, 33, 48) 131%);
    transition: 0.5s;
    transform: translateY(-2px);
}
@media (max-width:767px) {
    .container{
        display: block;
    }
    .container form{
        width: 100%;
        padding: 40px;
    }
}